@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 20, 20;
  --background-start-rgb: rgb(255 247 237);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

input, select, option, textarea {
    user-select: all;
}

html {
  height: 100%;
  width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  height: 100%;
  width: 100%;
}

* ::-webkit-scrollbar {
  display: none;
}
